<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RecordRTC over Socket.io</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"
    />

    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
  </head>

  <body>
    <div style="margin: 20px">
      <h1 style="font-size: 18px">
        Example 4: Speech to Text Transcribe Recognize Call
      </h1>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">
          &times;
        </button>
        {{ message }}
      </div>
      {%endfor%}
      <div>
        <button id="start-recording" disabled>Start Recording</button>
        <button id="stop-recording" disabled>Stop Recording</button>
      </div>

      <h6>Transcription</h6>
      You said this: <textarea id="transcript" style="width: 180px"></textarea>

      <h6>Translation</h6>
      The Spanish Translation is:
      <textarea id="translate" style="width: 180px"></textarea>
    </div>

    <script type="text/javascript">
      const socketio = io();
      const socket = socketio.on("connect", function () {
        // reset the recorder
        startRecording.disabled = false;
      });

      const startRecording = document.getElementById("start-recording");
      const stopRecording = document.getElementById("stop-recording");
      let recordAudio;

      // on start button handler
      startRecording.onclick = function () {
        // recording started
        startRecording.disabled = true;

        // make use of HTML 5/WebRTC, JavaScript getUserMedia()
        // to capture the browser microphone stream
        navigator.getUserMedia(
          {
            audio: true,
          },
          function (stream) {
            recordAudio = RecordRTC(stream, {
              type: "audio",
              mimeType: "audio/webm",
              sampleRate: 44100, // this sampleRate should be the same in your server code

              // MediaStreamRecorder, StereoAudioRecorder, WebAssemblyRecorder
              // CanvasRecorder, GifRecorder, WhammyRecorder
              recorderType: StereoAudioRecorder,

              // Dialogflow / STT requires mono audio
              numberOfAudioChannels: 1,

              // get intervals based blobs
              // value in milliseconds
              // as you might not want to make detect calls every seconds
              timeSlice: 4000,

              // only for audio track
              // audioBitsPerSecond: 128000,

              // used by StereoAudioRecorder
              // the range 22050 to 96000.
              // let us force 16khz recording:
              desiredSampRate: 16000,
            });

            recordAudio.startRecording();
            stopRecording.disabled = false;
          },
          function (error) {
            console.error(JSON.stringify(error));
          }
        );
      };

      // on stop button handler
      stopRecording.onclick = function () {
        // recording stopped
        startRecording.disabled = false;
        stopRecording.disabled = true;

        // stop audio recorder
        recordAudio.stopRecording(function () {
          // after stopping the audio, get the audio data
          recordAudio.getDataURL(function (audioDataURL) {
            var files = {
              audio: {
                type: recordAudio.getBlob().type || "audio/wav",
                dataURL: audioDataURL,
              },
            };
            socketio.emit("speech", files);
          });
        });
      };
      socket.on("messageBack", function (text) {
        console.log("hi", text);
        const transcriptID = document.getElementById("transcript");
        const translateID = document.getElementById("translate");

        transcriptID.value = text[0];
        transcriptID.readOnly = "true";

        translateID.value = text[1];
        translateID.readOnly = "true";
      });
      socket.on('errorMessage',()=>{
        alert("Sorry retry");
      })

    </script>
  </body>
</html>
