{%extends 'base.html'%} {%block content%}

<div id="container">
  <video autoplay="true" id="videoElement" style="visibility: hidden"></video>
</div>

<div class="video">
  <img id="image" />
</div>

<div class="row-update">
  <div>
    <img
      src="static/images/lake.jpg"
      alt="Lake"
      class="backgrounds"
      id="lake"
    />
  </div>

  <div>
    <img
      src="static/images/office.jpg"
      alt="Office"
      class="backgrounds"
      id="office"
    />
  </div>

  <div>
    <img
      src="static/images/japanese.jpg"
      alt="Japanese"
      class="backgrounds"
      id="japanese"
    />
  </div>

  <div>
    <img
      src="static/images/niagara-falls.jpg"
      alt="Niagra Falls"
      class="backgrounds"
      id="niagaraFalls"
    />
  </div>

  <div>
    <img
      src="static/images/taj.jpg"
      alt="Taj Mahal"
      class="backgrounds"
      id="tajMahal"
    />
  </div>
</div>

{%endblock%}
